body {
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif;

    #main {
        background-color: black;
        color: pink;
        #shoes {
            font-size: 1.4rem;   
        }

        #color {
            font-size: 1.4rem;    
        }
        span {
            display: block;
            font-size: 1.4rem;
            background-color: black;
        }    
    } 
}